
.small-box.bg-yellow {
  background-color: #ffffff !important;
  }
  
a {
  color: #ffffff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #014977;
    background-color: #9acce526;
    border-radius: 4px;
}

.h1, .h2, h1, h2 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 40px;
}

  .box-header h3.box-title {
   font-weight: bold;
   font-size: 40px;
}

body {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 17px;
    line-height: 1.42857143;
    color: #333333d9;
    background-color: #fff;
}

div{
  text-align: justify; 
}

.box.box-solid.box-primary>.box-header {
  color:#fff;
  background:#666666
  }
  
.box.box-solid.box-primary{
  border-bottom-color:#666666;
  border-left-color:#666666;
  border-right-color:#666666;
  border-top-color:#666666;
  }
  
.box.box-solid.box-danger>.box-header {
  color:#fff;
  background:#f4f2f4
                    }

.box.box-solid.box-danger{
border-bottom-color:#014977;
border-left-color:#014977;
border-right-color:#014977;
border-top-color:#014977;
}

.box.box-danger>.box-header {
  color:#f4f2f4;
  background:#f4f2f4
                    }

.box.box-danger{
border-bottom-color:#000000;
border-left-color:#000000;
border-right-color:#000000;
border-top-color:#000000;
}
      
.content-wrapper {
background-color: #f4f2f4;
}
      
.box{
border-top: 0;
}
      
.skin-blue .main-header .logo {
    font-family: Impact, fantasy;
    background-color: #367fa9;    
    color: #f4f2f4;
    border-bottom: 0 solid transparent;
}

.skin-blue .main-header .logo:hover {
background-color: #014977;
}
      
.skin-blue .main-header .navbar {
background-color: #014977;
}
      

.skin-blue .main-sidebar {
background-color: #014977;
}
      

.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
background-color: #014977;
}
      

.skin-blue .main-sidebar .sidebar .sidebar-menu a{
font-family: 'Source Sans Pro',sans-serif;
font-size: 15px;
background-color: #014977;
color: #adf;
}
      
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
        background-color: #f4f2f4;
      }
      
.skin-blue .main-header .navbar .sidebar-toggle:hover{
background-color: #014977;
}