.skin-blue .main-header .navbar {
    background: #17677c;
    box-shadow: 2px 2px 2px #aaaaaa;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    background: rgb(57 131 151);
    color: #f4f4f4;
}

.progress-bar {
    background-color: rgb(23 103 124);
}

background: linear-gradient(to right, rgb(255 255 255) 0%, #ffffff 30%, #fff 100%);

.small-box.bg-yellow {
  background-color: #ffffff !important;
  }

  
a {
  color: #ffffff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.h2, h2, .h3, h3, .h4, h4{
  text-align: justify; 
  line-height: 1.3;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #014977;
    background-color: #9acce526;
    border-radius: 4px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

b, strong {
    font-weight: 900;
}

body {
    font-size: 12px;
}

.info-box-number {
    display: flex;
    font-weight: 700;
    font-size: 15px;
}